<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="/" class="brand">The Standard Library</a>

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog.html">Blog</a></li>
                    <li><a href="/author.html">About The Author</a></li>
                    <li><a href="/feedback.html">Feedback</a></li>
                    <li><a href="/go.html">Go</a></li>
                    <li><a href="/atom.xml">Atom Feed</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>