<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="alternate" type="application/atom+xml" title="The Standard Library Atom Feed" href="http://{{ site.host }}/atom.xml" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet/less" type="text/css" href="/css/thestdlib.less" />
    <script type="text/javascript" src="/js/less-1.3.0.min.js"></script>
    <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
      <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="canonical" href="http://{{ site.host }}{{ page.url }}" />
    {% include google_analytics.html %}
</head>
<body>
    {% include navbar.html %}
    <div class="container">
        <div class="row-fluid">
            {% include blog_header.html %}
            <div class="span8 offset2">{{ content }}</div>
        </div>
        <hr>
        {% include footer.html %}
    </div>
    {% include js.html %}
</body>
</html>