<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <!--[if lt IE 9]>
      <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title }}</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a href="/" class="brand">The Standard Library</a>
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/go.html">Go</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">

        {{ page.content }}
    </div>
    <script type="text/javascript" async id="gauges-tracker" data-site-id="4f629599f5a1f54174000002" src="//secure.gaug.es/track.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>